* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {

    padding: 30px 20px 10px;
    border: 3px solid rgb(227, 213, 213);
    display: inline-block;
    margin: 20px 300px;
    height: 350px;
    width: 250px;
    text-align: center;
    /* background-color: #d7ccc861; */
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;

    border-radius: 12px;
    background-color: #fdfdfd;
}

.wrapper img {

    margin-top: 10px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center bottom;
    border: 2px solid white;
}

.wrapper figure {
    text-align: center;
    margin-bottom: 20px;
}

.fw-bold {
    font-weight: bold;
}

.text a {
    color: brown;
    text-decoration: none;
}

.text a:hover {
    color: purple;
    text-decoration: underline;
}